---
import Fite from '../components/Fite.svelte';
import Rite from "../components/Rite.svelte";
import State from '../components/State.svelte';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bawana</title>
	
	<script is:inline src="dexie.js"></script>
	<script is:inline src="db.js"></script>
	<script is:inline>
		

              

			  
			  
			  
			 

	</script>
 
</head>
<body>
   <Fite client:load></Fite> 
   <Rite client:load></Rite>
   <State client:load></State>
   
   
</body>
</html>