---
import Fite from '../components/Fite.svelte';
import Bite from "../components/Bite.svelte";
import Site from "../components/Site.svelte";
import State from '../components/State.svelte';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bawana</title>
	
	<script is:inline src="dexie.js"></script>
	<script is:inline src="db.js"></script>
	<script is:inline>
		

              db2.enemy.add({ name: 'moo', age: 4}); 

			  
			  
			  
			 

	</script>
 
</head>
<body>
   <Fite client:load></Fite> 
   <Bite client:load></Bite>
   <Site client:load></Site>

   <State client:load></State>
   
   
</body>
</html>